header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    width: 35px;
    height: 100%;
}
.label {
    font-weight: bold;
}