.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.filters .left-items {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	position: relative;
	padding: 0 12px;
	}

.filters .left-items .locations, .amenities {
	width: 25%;
	border-right: 1px solid #DDDDDD;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
}

.filters .left-items h3 {
	font-weight: 600;
}
.filters .left-items h4 {
	font-weight: 400;
	font-size: 14px;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	margin-right: 12px;
}

button:hover {
	opacity: 90%;
	cursor: pointer;
}